
  .hgroup-400 {
    height: 400px;
  }
  @media screen and (max-width: 768px) {
    .hgroup-400 {
      min-height: 300px;
    }
  }
  
  
  .btn {
    text-transform: uppercase;
  }
  
  .btn-lg {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 2rem;
  }
  
  @keyframes move {
    0% {
      opacity: 0;
    }
    1%{
      opacity: 1;
    }
    100% {
      transform: translate3d(0, 0, -3000px);
    }
  }
  .bubbles {
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
  }
  .container{
    height: 100%;
  }
  .bubble-wrap {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transform-origin: center center;
    perspective: 300px;
    overflow: hidden;
  }
  
  .bubble {
    width: 20px;
    height: 20px;
    opacity: 0.7;
    border-radius: 50%;
    animation: move 5s infinite;
    position: absolute;
    top:-5%;
    left: -5%;
    opacity: 0;
  }

  .dan-in-space-ship {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
  }
  
  .moon-base {
    background: url(/_/images/moon-base.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
  
  @media screen and (max-width: 992px) {
    .dan-in-space-ship {
      opacity: 0.5;
      z-index: -100;
    }
  }
  @media screen and (max-width: 720px) {
    .dan-in-space-shup {
      right: -200px;
    }
  }