.contact-content{
    font-family: 'organo';
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.contact-content div{

    display: flex;
    margin: auto;
    text-align: center;
    width: 250px;
    height: 250px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    border: solid white 2px ;
    color: rgba(255, 255, 255, 0.726);
    cursor: pointer;
    background-size: 250px 250px !important;
    
}
.contact_name{
    margin: auto;
    text-transform: capitalize;
    font-size: 3rem;
}
.contact-content div:hover > .contact_name{
    font-size: 3.5rem;
}

/* BG MOVEMENT */
body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin:0;
}
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-40deg, rgb(255, 181, 44) 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.bg3 {
    animation-duration:5s;
}
@media only screen and (max-width:600px) and (min-width: 401px) {
    .contact-content div{
        width: 150px;
        height: 150px;
        background-size:150px !important
    }
    .contact_name{
        font-size: 2rem;
    }
}
@media only screen and (max-width:400px) {
    .contact-content{
        flex-direction: column;
        margin-top: 35%;
        height: 60vh;
        
    }
    .contact_name{
        font-size: 2rem;
    }
    .contact_name:active{
        transform: scale(0.8);
    }
    .contact-content div{
        width: 150px;
        height: 150px;
        background-size:150px !important
    }
    .contact-content div:hover > .contact_name{
        font-size: 1.5rem;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}