.home-content{
  transition: all 400ms ease-out;
}
.section{
    height: 150vh;
}
.section1{
  position: relative;
  width: 100%;
}
.section1 .slogan-content{
  width: 100%;
  text-align: center;
  display: table;
}
.slogan{
  width: 100%;
  font-size: 100px;
  position: fixed;
  margin-top: 30vh;
  text-align: center;
  left: 0;
  z-index: 13;
  color: aliceblue;
}
.slogan:hover{
  text-decoration: none;
  text-transform: none;
  color: aliceblue;
}
.section2{
  position: relative;
  width: 100%;
  z-index: 13; 
  height: 150vh;
  background-color: transparent;
}
.website-making-video{
  width: 100%;
  height: 50%;
  overflow: hidden;
  margin-top: 40%;
  pointer-events: none;
  filter: blur(2px);
  box-sizing: border-box;
  padding: 25px;
  position: absolute;
}
.web-developers-content{
  width: 70%;
  font-size: 88px;
  position: absolute;
  margin-top: 68%;
  left: 0;
  z-index: 10;
  text-align: right;
  color: aliceblue;
  font-weight: bold;
  margin-left: 27%;
  padding: 0% 4%;
}
.web-developers-content::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.web-developers-content:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.web-developers-content::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: rgba(21, 37, 53, 0.651);
  z-index: -1;
  transition: transform .3s ease;
  border-radius: 5px;
  box-shadow: rgb(86, 102, 119) 5px 20px 30px -10px;
}
.web-developers-content:hover{
  color: aliceblue !important;
  font-weight: bold;
  text-decoration: none;
}
.section3{
  position: relative;
  width: 100%;
  margin-top:30%;
  z-index: 12; 
  background-color: transparent;
  height: 100vh;
}
.actions{
  padding: 0% 5%;
  width: 100%;
  height: 80%;
  text-align: center;
  font-family: 'organo';
  font-size: 60px;
  font-variant-caps: small-caps;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto ;
  grid-template-areas: 
  'design programming'
  'testing testing '
  'coding functionality'
  ;
}
.floating{
  display: none;
  color: white ;
  padding: 0% 5%;
  display: flex;
  border-radius: 100px;
}
.floating a {
  margin: auto;
  cursor: pointer;
  text-shadow: -4px 3px 0 #cc6e03, -14px 7px 0 #0a0e27;
}
.coding{
  grid-area: coding;
  animation-name: floating;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
  
}
.testing{
  grid-area: testing;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.programming{
  grid-area: programming;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}
.design{
  grid-area: design;
  animation-name: floating;
  animation-duration: 2.15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  margin-top: 5px;
}
.functionality{
  grid-area: functionality;
  animation-name: floating;
  animation-duration: 1.85s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}
.section4{
  background-color: transparent;
  height: 100vh;
  margin-top: 20vh;
  display: flex;
}
.contact-us-content{
  width: 100%;
  height: 100%;
  z-index: 11;
  font-size: 8px;
  display: flex;
  position: absolute;
  margin: auto;
}
.contact-us{
  margin: auto;
  display: none;
  display: inline;
  color: orange;
  font-weight: bold;
  font-family: comfortaa;
  font-size: 8px;
}

#bubble-section{
  height: 100%;
}
.ball-bounce-content{
    width: 100%;
    z-index: 10;
}
/* Ball bouncing */
.ball-bounce {
  width:140px;
  height:140px;
  border-radius:100%;
  background:rgb(102, 212, 179);
  animation: bounce 1.2s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position:fixed;
  margin:50px;
  margin-left: 80%;
  box-shadow: 5px 10px 20px rgb(35, 75, 63) inset;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}
@keyframes bounce {
	0% {top: 0;
		-webkit-animation-timing-function: ease-in;
	}
	40% {}
	50% {top: 200px;
		height: 140px;
		-webkit-animation-timing-function: ease-out;
	}
	55% {top: 300px; height: 120px; 
		-webkit-animation-timing-function: ease-in;}
	65% {top: 400px; height: 140px; 
		-webkit-animation-timing-function: ease-out;}
	95% {
		top: 0;		
		-webkit-animation-timing-function: ease-in;
	}
	100% {top: 0;
		-webkit-animation-timing-function: ease-in;
	}
}
