
.modal *{font-family: 'terminal' ;}
.modal-bg{
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623);
    display: none;
    position: absolute;
    top: 0;
    
}
.modal{
    width: auto;
    max-height: 450px;
    height: 60%;
    max-width: 700px;
    margin: auto;
    background-color: rgba(48, 10, 36, 0.788);
    display: none;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 15px;
}
.modal-header{
    background-color: #434343c4;
    height: 30px;
    display: flex;
    padding: 5px 10px;

}
.modal-body{
    height: 92%;
    margin: 8px;
    overflow-y: scroll;
}
.modal-dir{
    margin: auto;
    color:#C0C0C0;
    
}
.modal-close{
    background-color: #E05120;
    width: 20px;
    height: 20px;
    display: flex;
    border-radius: 100px;
    cursor: pointer;
    
}
.modal-close:active {
    transform: scale(0.9);
}
.modal-close a {
    margin: auto;
    font-weight: bolder;
}
.table-title{
    color:#008000
}
.info{
    color:#C0C0C0
}
table{
    margin: 0px 15px 15px 0px;
}
td:nth-child(odd){
    padding: 0px 5px;
    width: auto;
    height: auto;
    text-transform: capitalize;
}
tr{
    height: 35px;
}
hr{
    border: 2px solid rgba(0, 0, 0, 0.205);
}
@media only screen and (max-width:400px) {
    .modal{
        font-size: 0.7rem;
        width: 90%;
    }
}

/* Scrollbar style */
/* width */
.modal-body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.modal-body::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
margin-bottom: 10px;
}

/* Handle */
.modal-body::-webkit-scrollbar-thumb {
background: rgba(138, 89, 122, 0.788); 
border-radius: 15px;
}

/* Handle on hover */
.modal-body::-webkit-scrollbar-thumb:hover {
background: rgba(100, 60, 87, 0.788); 
}