header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    text-align: center;
}
body{
    background-color: midnightblue;
}
.header-logue{
    width: 40%;
    margin: auto;
}
.header-menu-l, .header-menu-r{
    color: mintcream;
    width: 30%;
    margin: auto;
}
#logue{
    font-size: 30px;
}

